<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/style.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Realizar Solicitação</title>
</head>

<body>
  <div class="header" id="header">
    <button onclick="toggleSidebar()" class="btn_icon_header">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </button>
    <div class="info_header">
     
      <a href="/perfil-user">
        <i class='bx bx-user'></i>
        <span class="links_name">Perfil</span>
      </a>
      <a href="/logout">
        <i class='bx bx-log-out'></i>
        <span class="links_name">Sair</span>
      </a>
    </div>

    <div class="navigation_header" id="navigation_header">
      <button onclick="toggleSidebar()" class="btn_icon_header">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x"
          viewBox="0 0 16 16">
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>
      </button>
      <a href="/index-cliente">
        <i class='bx bx-home'></i>Início</a>
      <a href="/solicitar">
        <i class='bx bx-message-add'></i>Solicitar</a>
      <a href="/solicitacoes-p">
        <i class='bx bx-message-dots'></i>Solicitações Pendentes</a>
      <a href="/solicitacoes-r">
        <i class='bx bx-message-check'></i>Solicitações Respondidas</a>
    </div>
  </div>

  <div tabindex="0" class="content" onfocus="closeSidebar()" id="content">
    <section>
      <div class="responder">
        <div class="title">
          Avaliar Atendimento
        </div>
        <form method="POST">
          <div class="form">
            <div class="inputfield">
              <label>Resposta</label>
              <P>{{resposta}}</P>
            </div>

            <label>Nota</label>
            <br>
                <div class="estrelas">
                  <input type="radio" id="cm_star-empty" name="nota" value="" checked/>
                  <label for="cm_star-1"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-1" name="nota" value="2"/>
                  <label for="cm_star-2"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-2" name="nota" value="4"/>
                  <label for="cm_star-3"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-3" name="nota" value="6"/>
                  <label for="cm_star-4"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-4" name="nota" value="8"/>
                  <label for="cm_star-5"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-5" name="nota" value="10"/>
                </div>

              
            </div><br>
            <div class="inputfield">
              <input type="submit" value="Enviar Resposta" class="btn">
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>
  </div>
    
  <script src="../static/script.js"></script>
</body>

</html>