<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/style.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Realizar Solicitação</title>
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <div class="logo_name">API</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="index-cliente">
          <i class='bx bx-home'></i>
          <span class="links_name">Início</span>
        </a>
        <span class="tooltip">Início</span>
      </li>
      <li>
        <a href="./perfil-user">
          <i class='bx bx-user'></i>
          <span class="links_name">Perfil</span>
        </a>
        <span class="tooltip">Perfil</span>
      </li>
      <li>
        <a href="./solicitar">
          <i class='bx bx-message-add'></i>
          <span class="links_name">Solicitar</span>
        </a>
        <span class="tooltip">Solicitar</span>
      </li>
      <li>
        <a href="./solicitacoes-p">
          <i class='bx bx-message-dots'></i>
          <span class="links_name">Solicitaçoes pendentes</span>
        </a>
        <span class="tooltip">Solicitaçoes pendentes</span>
      </li>
      <li>
        <a href="./solicitacoes-r">
          <i class='bx bx-message-check'></i>
          <span class="links_name">Solicitaçoes respondidas</span>
        </a>
        <span class="tooltip">Solicitaçoes respondidas</span>
      </li>
      <li>
        <a href="logout">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Sair</span>
        </a>
        <span class="tooltip">Sair</span>
      </li>
    </ul>
  </div>
  <main>
    <section>
      <div class="responder">
        <div class="title">
          Avaliar Atendimento
        </div>
        <form method="POST">
          <div class="form">
            <div class="inputfield">
              <label>Reposta</label>
              <P>{{resposta}}</P>
            </div>

            <label>Nota</label>
            <br>
            <div class="rating-css">
              <div class="star-icon">
                <input type="radio" name="nota" value="1">
                <label for="1" class="bx bxs-star"></label>
                <input type="radio" name="nota" value="2">
                <label for="2" class="bx bxs-star"></label>
                <input type="radio" name="nota" value="3">
                <label for="3" class="bx bxs-star"></label>
                <input type="radio" name="nota" value="4">
                <label for="4" class="bx bxs-star"></label>
                <input type="radio" name="nota" value="5">
                <label for="5" class="bx bxs-star"></label>
              </div>
            </div><br>
            <div class="inputfield">
              <input type="submit" value="Enviar Resposta" class="btn">
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>
  <script src="../static/script.js"></script>
</body>

</html>