<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">API</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a href="./index-cliente">
                    <i class='bx bx-home'></i>
                    <span class="links_name">Início</span>
                </a>
                <span class="tooltip">Início</span>
            </li>
            <li>
                <a href="./perfil-user">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Perfil</span>
                </a>
                <span class="tooltip">Perfil</span>
            </li>
            <li>
                <a href="./solicitar">
                    <i class='bx bx-message-add'></i>
                    <span class="links_name">Solicitar</span>
                </a>
                <span class="tooltip">Solicitar</span>
            </li>
            <li>
                <a href="./solicitacoes-p">
                    <i class='bx bx-message-dots'></i>
                    <span class="links_name">Solicitaçoes pendentes</span>
                </a>
                <span class="tooltip">Solicitaçoes pendentes</span>
            </li>
            <li>
                <a href="./solicitacoes-r">
                    <i class='bx bx-message-check'></i>
                    <span class="links_name">Solicitaçoes respondidas</span>
                </a>
                <span class="tooltip">Solicitaçoes respondidas</span>
            </li>
            <li>
                <a href="logout">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Sair</span>
                </a>
                <span class="tooltip">Sair</span>
            </li>
    </div>

    <main>
        <section class="home-section">
            <div class="text">Perfil</div>
            <div class="container">

                <div class="left-side">
                    <div class="left-side">
                        <div class="left-items">
                            <h1 class="title"></h1>
                            <div class="formBx">
                                <div class="form signupForm">
                                    <form action="/editar-user/{{id}}" method="POST">
                                        <h3>Atualize suas Informações</h3>
                                        <h4>Nome: {{nome}}</h4>
                                        <textarea class="textarea" name="nome">{{nome}}</textarea>
                                        <h4>Endereço:</h4>
                                        <textarea class="textarea" name="endereco">{{endereco}}</textarea>
                                        <h4>Telefone:</h4>
                                        <textarea class="textarea" name="contato">{{contato}}</textarea>
                                        <h4>Email:</h4>
                                        <textarea class="textarea" name="email">{{email}}</textarea>
                                        <h4>Nova senha:</h4>
                                        <input type="password" id="senha" name="senha">
                                        <h4>Confirmar senha:</h4>
                                        <input type="password" id="csenha" name="csenha">
                                        <input type="submit" value="Atualizar">
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="right-side">

                    <div class="right-side">
                        <div class="profile">
                            <div class="img-sett">
                                <img src="../static/image/perfil.png" alt="">
                            </div>
                            <div class="texto">
                                <h4>{{nome}}</h4>
                                <h5>Nome: {{nome}}</h5>
                                <h5>Endereço: {{endereco}}</h5>
                                <h5>Telefone: {{contato}}</h5>
                                <h5>Email: {{email}}</h5>
                            </div>

                            <button class="BtnExc">Excluir conta</button>

                            <div class="popup">
                                <div class="popup-content">
                                    <i class="bx bxs-x-square"></i>
                                    <p>Deseja excluir sua conta?</p>
                                    <div class="inputfield">
                                        <input type="submit" value="Sim" class="btn">
                                        <input type="submit" value="Não" class="btn">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            </div>

            </div>

        </section>

        <script>
            const button = document.querySelector('.BtnExc');
            const popup = document.querySelector('.popup');
            const closebtn = document.querySelector('.bx bxs-x-square');

            button.addEventListener('click', () => {
                popup.style.display = 'flex'
            })
            closebtn.addEventListener('click', () => {
                popup.style.display = 'none'
            })

        </script>
    </main>
    <script src="script.js"></script>
</body>

</html>