<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/style.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Realizar Solicitação</title>
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <div class="logo_name">API</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="index-cliente">
          <i class='bx bx-home'></i>
          <span class="links_name">Início</span>
        </a>
        <span class="tooltip">Início</span>
      </li>
      <li>
        <a href="./perfil-user">
          <i class='bx bx-user'></i>
          <span class="links_name">Perfil</span>
        </a>
        <span class="tooltip">Perfil</span>
      </li>
      <li>
        <a href="./solicitar">
          <i class='bx bx-message-add'></i>
          <span class="links_name">Solicitar</span>
        </a>
        <span class="tooltip">Solicitar</span>
      </li>
      <li>
        <a href="./solicitacoes-p">
          <i class='bx bx-message-dots'></i>
          <span class="links_name">Solicitaçoes pendentes</span>
        </a>
        <span class="tooltip">Solicitaçoes pendentes</span>
      </li>
      <li>
        <a href="./solicitacoes-r">
          <i class='bx bx-message-check'></i>
          <span class="links_name">Solicitaçoes respondidas</span>
        </a>
        <span class="tooltip">Solicitaçoes respondidas</span>
      </li>
      <li>
        <a href="logout">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Sair</span>
        </a>
        <span class="tooltip">Sair</span>
      </li>
    </ul>
  </div>
  <main>
    <section class="home-section">
      <div class="text">Realizar Solicitações</div>
      <div class="wrapper">
        <header>Realizar Solicitação</header>
        <form action="/solicitar" method="POST">
          <div class="dbl-field">
            <div class="field">
              <input type="text" class="input" name="Chamado_titulo" placeholder="Titulo do Problema">
              <i class='fas fa-user'></i>
            </div>
            <div class="dropdown">
              <select id="Chamado_tipo" name="Chamado_tipo">
                <option value="Hardware">Hardware</option>
                <option value="Software">Software</option>
                <option value="Informação">Informação</option>
              </select>
            </div>
          </div>
          <div class="message">
            <textarea class="textarea" placeholder="Exponha seu problema" name="Chamado_descricao"></textarea>
            <i class="material-icons"></i>
          </div>
          <input type="file" name="Chamado_imagem">
          <div class="button-area">
            <button type="submit">Enviar Solicitação</button>
            <span></span>
        </form>
      </div>
    </section>
  </main>
  <script src="../static/script.js"></script>
</body>

</html>