<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/style-tecnico.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Início</title>
</head>

<body>
  <div class="header" id="header">
    <button onclick="toggleSidebar()" class="btn_icon_header">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </button>
    <div class="info_header">
     
      <a href="./perfil-tecnico">
        <i class='bx bx-user'></i>
        <span class="links_name">Perfil</span>
      </a>
      <a href="logout">
        <i class='bx bx-log-out'></i>
        <span class="links_name">Sair</span>
      </a>
    </div>

    <div class="navigation_header" id="navigation_header">
      <button onclick="toggleSidebar()" class="btn_icon_header">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x"
          viewBox="0 0 16 16">
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>
      </button>
      <a href="./index-tecnico">
        <i class='bx bx-home'></i>Início</a>
      <a href="./solic-tecnico">
        <i class='bx bx-message-add'></i>Solicitar</a>
      <a href="./solic-p-tecnico">
        <i class='bx bx-message-dots'></i>Solicitações Pendentes</a>
      <a href="./solic-r-tecnico">
        <i class='bx bx-message-check'></i>Solicitações Respondidas</a>
    </div>
  </div>

  <div tabindex="0" class="content" onfocus="closeSidebar()" id="content">
    <section class="inicio">
      <div class="titulo">
        <h1>Bem-Vindo {{nome}}!</h1>
        <br>w
        <p>Você está cadastrado comoﾠ<b>tecnico!</b></p>
        <p> Navegue através da barra lateral, para ter acesso à todas as funcionalidades disponíveis!</p>
      </div>
    </section>
  </div>
  
  <script src="../static/script.js"></script>
</body>

</html>