<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="../static/style-tecnico.css">
  <title>Solicitação Recusada</title>
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <div class="logo_name">API</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="index-tecnico">
          <i class='bx bx-home'></i>
          <span class="links_name">Perfil</span>
        </a>
        <span class="tooltip">Perfil</span>
      </li>
      <li>
        <a href="./perfil-tecnico">
          <i class='bx bx-user'></i>
          <span class="links_name">Perfil</span>
        </a>
        <span class="tooltip">Perfil</span>
      </li>
      <li>
        <a href="solic-tecnico">
          <i class='bx bx-message-add'></i>
          <span class="links_name">Solicitar</span>
        </a>
        <span class="tooltip">Solicitar</span>
      </li>
      <li>
        <a href="solic-p-tecnico">
          <i class='bx bx-message-dots'></i>
          <span class="links_name">Solicitaçoes pendentes</span>
        </a>
        <span class="tooltip">Solicitaçoes pendentes</span>
      </li>
      <li>
        <a href="solic-r-tecnico">
          <i class='bx bx-message-check'></i>
          <span class="links_name">Solicitaçoes respondidas</span>
        </a>
        <span class="tooltip">Solicitaçoes respondidas</span>
      </li>
      <li>
        <a href="logout">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Sair</span>
        </a>
        <span class="tooltip">Sair</span>
      </li>
    </ul>
  </div>

  <section>
    <div class="wrapper">
      <div class="title">
        Recusar Chamado
      </div>
      <form action="/solic-rec/{{Chamados[0]}}" method="POST">
        <div class="form">
          <div class="inputfield">
            <label>Titulo</label>
            <P>{{Chamados[3]}}</P>
          </div>
          <div class="inputfield">
            <label>Tipo</label>
            <p>{{Chamados[4]}}</p>
          </div>
          <div class="inputfield">
            <label>Descrição</label>
            <p>{{Chamados[5]}}</p>
          </div>
          <div class="inputfield">
            <label>Motivo</label>
            <textarea class="textarea" name="resposta" id="resposta"></textarea>
          </div>
          <div class="inputfield">
            <input type="submit" value="Enviar Resposta" class="btn">
          </div>
        </div>
      </form>
    </div>
  </section>
</body>

</html>