<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/style-tecnico.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solicitações Respondidas</title>
</head>

<body>
  <div class="header" id="header">
    <button onclick="toggleSidebar()" class="btn_icon_header">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </button>
    <div class="info_header">

      <a href="./perfil-tecnico">
        <i class='bx bx-user'></i>
        <span class="links_name">Perfil</span>
      </a>
      <a href="logout">
        <i class='bx bx-log-out'></i>
        <span class="links_name">Sair</span>
      </a>
    </div>

    <div class="navigation_header" id="navigation_header">
      <button onclick="toggleSidebar()" class="btn_icon_header">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x"
          viewBox="0 0 16 16">
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>
      </button>
      <a href="./index-tecnico">
        <i class='bx bx-home'></i>Início</a>
      <a href="./solic-tecnico">
        <i class='bx bx-message-add'></i>Solicitar</a>
      <a href="./solic-p-tecnico">
        <i class='bx bx-message-dots'></i>Solicitações Pendentes</a>
      <a href="./solic-r-tecnico">
        <i class='bx bx-message-check'></i>Solicitações Respondidas</a>
    </div>
  </div>
  <div tabindex="0" class="content" onfocus="closeSidebar()" id="content">
    <section class="home-section">
      <div class="meio">
        <p>Solicitações <b>respondidas</b> recebidas</p>
        {% if msg2 == 0 %}
        <p>Não há solicitação <b>respondida</b> recebidas</p>
        {% endif %}
      </div>
      {% for chamado in Chamados2 %}
      <details class="card">
        <summary>
          <h1>{{chamado[3]}}</h1>
          {% if chamado[9] == 0 %}
          <p>Recusado</p>
          {% else %}
          <p>Aceito</p>
          {% endif %}
        </summary>
        <div class="conteudo">
          <h1>Título:</h1>
          <p>{{chamado[3]}}</p>
          <h1>Tipo:</h1>
          <p>{{chamado[4]}}</p>
          <h1>Descrição:</h1>
          <p>{{chamado[5]}}</p>
          <h1>Data enviada:</h1>
          <p>{{chamado[1]}}</p>
          {% if chamado[10] != '' %}
          <h1>Imagem enviada:</h1>
          <img src="../../static/uploads/{{chamado[10]}}" alt="">
          {% endif %}
          <br>
          <hr>
          <h1>Resposta recebida:</h1>
          <p>{{chamado[6]}}</p>
          <h1>Data recebida:</h1>
          <p>{{chamado[2]}}</p>
          <br>
          <hr><br>
          <div class="estrelas">
            {% if chamado[7] == 0 %}
            <h1>Avaliação enviada:</h1>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            {% elif chamado[7] == 1 %}
            <h1>Avaliação enviada:</h1>
            <i class='bx bxs-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            {% elif chamado[7] == 2 %}
            <h1>Avaliação enviada:</h1>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            {% elif chamado[7] == 3 %}
            <h1>Avaliação enviada:</h1>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            {% elif chamado[7] == 4 %}
            <h1>Avaliação enviada:</h1>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bx-star'></i>
            {% elif chamado[7] == 5 %}
            <h1>Avaliação enviada:</h1>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
          </div>

          {% else %}
          <div class="button-area">
            <a href="/avaliartec/{{chamado[0]}}"><button>Avaliar atendimento</button></a>
          </div>
          {% endif %}
      </details>

      {% endfor %}
      <br><br>
      <hr>
      <div class="meio">
        <p><b>TÉCNICO</b> - Solicitações <b>respondidas</b> enviadas</p>
        {% if msg1 == 0 %}
        <p>Não há solicitação <b>respondida</b> enviada</p>
        {% endif %}
      </div>
      {% for chamado in Chamados %}
      <details class="card">
        <summary>
          <h1>{{chamado[3]}}</h1>
          {% if chamado[9] == 0 %}
          <p>Recusado</p>
          {% else %}
          <p>Aceito</p>
          {% endif %}
        </summary>
        <div class="conteudo">
          <h1>Título:</h1>
          <p>{{chamado[3]}}</p>
          <h1>Tipo:</h1>
          <p>{{chamado[4]}}</p>
          <h1>Descrição:</h1>
          <p>{{chamado[5]}}</p>
          <h1>Data recebida:</h1>
          <p>{{chamado[1]}}</p>
          {% if chamado[10] != '' %}
          <h1>Imagem recebida:</h1>
          <img src="../../static/uploads/{{chamado[10]}}" alt="">
          {% endif %}
          <hr>
          <h1>Resposta enviada:</h1>
          <p>{{chamado[6]}}</p>
          <h1>Data enviada:</h1>
          <p>{{chamado[2]}}</p>
        </div>
      </details>

      {% endfor %}
    </section>
  </div>
  <script src="../static/script.js"></script>
</body>

</html>