<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style-cadastro.css">
    <title>Cadastro</title>
</head>

<body>
    <div class="center">
        <h1>Cadastre-se</h1>
        <form method="POST">
            <div class="left-side">
                <div class="txt_field">
                    <input type="text" name="usuario_nome" required>
                    <span></span>
                    <label>Nome</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="usuario_senha" required>
                    <span></span>
                    <label>Senha</label>
                </div>
                <div class="txt_field">
                    <input type="text" name="usuario_endereco" required>
                    <span></span>
                    <label>Endereço</label>
                </div>

            </div>
            <div class="right-side">
                <div class="txt_field">
                    <input type="text" name="usuario_email" required>
                    <span></span>
                    <label>Email</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="usuario_csenha" required>
                    <span></span>
                    <label>Confirmar Senha</label>
                </div>
                <div class="txt_field">
                    <input type="text" maxlength="11" name="usuario_contato" required>
                    <span></span>
                    <label>Telefone</label>
                </div>
            </div>
            <p>{{msg}}</p>
            <input type="submit" value="Cadastrar">
        </form>
        <div class="signup_link">
            já é cadastrado? <a href="./login">Faça Login</a>
        </div>
    </div>
</body>

</html>