<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style-cadastro.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="cadastro">
        <form>
            <img src="../static/imagens/logo_teste.png"><br>
            <label>Nome Completo</label><br>
            <input type="text" name="nome" placeholder="Insira seu nome"><br><br>
            <label>Email</label><br>
            <input type="text" name="email" placeholder="Insira seu email"><br><br>
            <label>Senha</label><br>
            <input type="password" name="senha" placeholder="Insira sua senha"><br><br>
            <label>Confirmar Senha</label><br>
            <input type="password" name="csenha" placeholder="Confirme sua senha"><br><br>
            <label>Data de Nascimento</label><br>
            <input type="date" name="nasc"><br><br>
            <label>Telefone</label><br>
            <input type="text" maxlength="11" name="contato" placeholder="Insira um contato"><br><br>
            <label>Endereço</label><br>
            <input type="text" name="endereço" placeholder="Insira seu endereço"><br><br>
            <input type="checkbox" name="termos"><label>Concordo em armazenar meus dados nesse site</label><br><br>
            <input type="submit" name="concluir" value="Concluir">
        </form>
    </div>
</body>
</html>