<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style-cadastro.css">
    <title>Cadastro</title>
</head>

<body>
    <div class="center">
        <h1>Cadastre-se</h1>
        <form method="POST">
            <div class="grid">
                <div class="left-side">
                    <div class="txt_field">
                        <input type="text" name="usuario_nome" required>
                        <span></span>
                        <label>Nome</label>
                    </div>
                    <div class="txt_field">
                        <input type="password" name="usuario_senha" required>
                        <span></span>
                        <label>Senha</label>
                    </div>
                    <div class="txt_field">
                        <input type="password" name="usuario_csenha" required>
                        <span></span>
                        <label>Confirmar Senha</label>
                    </div>
                </div>
                
                <div class="right-side">
                    <div class="txt_field">
                        <input type="email" name="usuario_email" required>
                        <span></span>
                        <label>Email</label>
                    </div>
                    <div class="txt_field">
                        <input type="text" name="usuario_endereco" required>
                        <span></span>
                        <label>Endereço</label>
                    </div>
                    <div class="txt_field">
                        <input type="text" maxlength="11" name="usuario_contato" required>
                        <span></span>
                        <label>Telefone</label>
                    </div>
                </div>
            </div>
            <div class="down-side">
                <input type="checkbox" name="check" id="check" required>Concordo em armazenar meus dados
            </div><br>
            <p>{{msg}}</p><br>
            <input type="submit" value="Cadastrar">
        </form>
        <div class="signup_link">
            já é cadastrado? <a href="./login">Faça Login</a>
        </div>
    </div>
</body>

</html>