<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/style.css">
  <title>Início</title>
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <div class="logo_name">API</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="./index-cliente">
          <i class='bx bx-home'></i>
          <span class="links_name">Início</span>
        </a>
        <span class="tooltip">Início</span>
      </li>
      <li>
        <a href="./perfil-user">
            <i class='bx bx-user'></i>
            <span class="links_name">Perfil</span>
        </a>
        <span class="tooltip">Perfil</span>
    </li>
      <li>
        <a href="./solicitar">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Solicitar</span>
        </a>
        <span class="tooltip">Solicitar</span>
      </li>
      <li>
        <a href="./solicitacoes-p">
          <i class='bx bx-chat'></i>
          <span class="links_name">Solicitaçoes pendentes</span>
        </a>
        <span class="tooltip">Solicitaçoes pendentes</span>
      </li>
      <li>
        <a href="./solicitacoes-r">
          <i class='bx bx-pie-chart-alt-2'></i>
          <span class="links_name">Solicitaçoes respondidas</span>
        </a>
        <span class="tooltip">Solicitaçoes respondidas</span>
      </li>
      <li>
        <a href="index-executor">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Executor</span>
        </a>
        <span class="tooltip">Executor</span>
      </li>
    </ul>
  </div>
  <main>
    <section class="inicio">
      <div class="titulo">
        <h1>Bem-Vindo [Nome]!</h1>
        <br>
        <p>Você está cadastrado comoﾠ<b>usuário!</b></p>
        <p>Navegue através da barra lateral, para ter acesso à todas as funcionalidades disponíveis!</p>
      </div>
    </section>
  </main>
  <script src="../static/script.js"></script>
</body>

</html>