<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/style-exec.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <div class="logo_name">API</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="#">
          <i class='bx bx-user'></i>
          <span class="links_name">Perfil</span>
        </a>
        <span class="tooltip">Perfil</span>
      </li>
      <li>
        <a href="solic-executor.html">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Solicitar</span>
        </a>
        <span class="tooltip">Solicitar</span>
      </li>
      <li>
        <a href="solic-p-executor.html">
          <i class='bx bx-chat'></i>
          <span class="links_name">Solicitaçoes pendentes</span>
        </a>
        <span class="tooltip">Solicitaçoes pendentes</span>
      </li>
      <li>
        <a href="solic-r-executor.html">
          <i class='bx bx-pie-chart-alt-2'></i>
          <span class="links_name">Solicitaçoes respondidas</span>
        </a>
        <span class="tooltip">Solicitaçoes respondidas</span>
      </li>
      <li>
        <a href="solicitacoes-p.html">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Cliente</span>
        </a>
        <span class="tooltip">Cliente</span>
      </li>
    </ul>
  </div>


  <section class="home-section">
    <div class="text">Solicitações Respondidas</div>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Tema</th>
            <th>Descrição</th>
            <th>Imagem</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          {% for chamado in chamados%}
            {% if chamado.Chamado_respondido == 1 %}
              <tr>
                <td date-label="Titulo">{{chamado.Chamado_titulo}}</td>
                <td date-label="Tema">{{chamado.Chamado_tipo}}</td>
                <td date-label="Descrição">{{chamado.Chamado_descricao}}</td>
                <td date-label="Imagen"><img src="./joe.jpg" alt=""></td>
                <td date-label="">Enviada</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
  <script src="../static/script.js"></script>
</body>

</html>