<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style-exec.css">
  <title>Solicitação Aceita</title>
</head>

<body>
  <section>
    <div class="wrapper">
      <div class="title">
        Aceitar Chamado
      </div>
      <form action="/solic-act/{{chamados.idChamado}}" method="POST">
        <div class="form">
          <div class="inputfield">
            <label>Titulo</label>
            <P>{{chamados.Chamado_titulo}}</P>
          </div>
          <div class="inputfield">
            <label>Tipo</label>
            <p>{{chamados.Chamado_tipo}}</p>
          </div>
          <div class="inputfield">
            <label>Descrição</label>
            <p>{{chamados.Chamado_descricao}}</p>
          </div>
          <div class="inputfield">
            <label>Resposta</label>
            <textarea class="textarea" name="resposta" id="resposta"></textarea>
          </div>
          <div class="inputfield">
            <input type="submit" value="Enviar Resposta" class="btn">
          </div>
        </div>
      </form>
    </div>
  </section>
</body>

</html>