<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style-exec.css">
    <title>Solicitação Aceita</title>
</head>
<body>
    <section>
        <div class="wrapper">
            <div class="title">
                Recusar Chamado
            </div>
            <div class="form">
               <div class="inputfield">
                  <label>Titulo</label>
                  <P>Teste do Texto</P>
               </div>  
                <div class="inputfield">
                  <label>Tema</label>
                  <p>Hardware</p>
               </div>  
               <div class="inputfield">
                  <label>Descrição</label>
                 <p>Esses dias, meu computador deu tela azul e nao quis mais ligar asdsadsadsadsad</p>
               </div>  
               <div class="inputfield">
                <label>Resposta</label>
                <textarea class="textarea"></textarea>
             </div> 
              <div class="inputfield">
                <input type="submit" value="Enviar Resposta" class="btn" href="solic-p-executor.html">
              </div>
            </div>
        </div>
    </section>
</body>
</html>