<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitar</title>
</head>
<body>
    
    <a href="cliente.html">Cliente</a>
    <a href="solicitar.html">Solicitar</a>
    <a href="executor.html">Executor</a>

    <form method="POST" action="">
        <h2>Titulo</h2>
        <input type="text" size="30" name="titulo">
        <br>

        <h2>Assunto</h2>
        <select id="assunto" name="assunto">
            <option value="hardware">Hardware</option>
            <option value="software">Software</option>
            <option value="informacao">Informação</option>
        </select>

        <h2>Descrição</h2>
        <textarea rows="4" cols="50" id="descricao" name="descricao"></textarea>
        <br>

        <input type="submit" value='Enviar'>
        <br>

    </form>

</body>
</html>