<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/style-adm.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
</head>

<body>
    <div class="header" id="header">
        <button onclick="toggleSidebar()" class="btn_icon_header">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>
        <div class="info_header">

            <a href="./perfil-user">
                <i class='bx bx-user'></i>
                <span class="links_name">Perfil</span>
            </a>
            <a href="logout">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Sair</span>
            </a>
        </div>
        <div class="navigation_header" id="navigation_header">
            <button onclick="toggleSidebar()" class="btn_icon_header">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x"
                    viewBox="0 0 16 16">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
            <a href="./index-adm">
                <i class='bx bx-home'></i>Início</a>
            <a href="./perfil-adm">
                <i class='bx bx-message-add'></i>Perfil</a>
            <a href="./lista-usuarios">
                <i class='bx bx-message-dots'></i>Lista de Usuários</a>
            <a href="./relatorios">
                <i class='bx bx-message-check'></i>Relatórios</a>
            <a href="./solicitar-adm">
                <i class='bx bx-message-check'></i>Solicitar</a>
            <a href="./solicitacoes-p-adm">
                <i class='bx bx-message-check'></i>Solicitações Pendentes</a>
            <a href="./solicitacoes-r">
                <i class='bx bx-message-check'></i>Solicitações Respondidas</a>
        </div>
    </div>

    <div tabindex="0" class="content" onfocus="closeSidebar()" id="content">
        <section class="home-section">
            
            <div class="fundo">
                <div class="container">
                    <div class="grid">

                        <div class="esquerda">
                            <h1>Lista de Usuários</h1>
                            <br>
                            <p>{{msg1}}</p>
                            {% for usuario in usuarios %}
                            <div class="box">
                                <div class="image">
                                    <img src="../static/image/perfil.png" alt="">
                                </div>
                                <div class="name_job">{{usuario[3]}}</div>
                                <p><span>Email: </span>{{usuario[1]}}</p>
                                <div class="grid-info">
                                    <p><span>Endereço: </span>{{usuario[5]}}</p>
                                    <p><span>Telefone: </span>{{usuario[4]}}</p>
                                </div>
                                <div class="btns">
                                    <a href="/tornar-tecnico/{{usuario[0]}}"><button>Tornar tecnico</button></a>
                                    <a href="/excluir-usuario/{{usuario[0]}}"><button>Excluir conta</button></a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="direita">
                            <h1>Lista de Tecnicos</h1>
                            <br>
                            <p>{{msg2}}</p>
                            {% for tecnico in tecnicos %}
                            <div class="box">
                                <div class="image">
                                    <img src="../static/image/perfil-tecnico.png" alt="">
                                </div>
                                <div class="name_job">{{tecnico[3]}}</div>
                                <p>Avaliação média</p>
                                <div class="rating">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <p><span>Email: </span>{{tecnico[1]}}</p>
                                <div class="grid-info">
                                    <p><span>Endereço: </span>{{tecnico[5]}}</p>
                                    <p><span>Telefone: </span>{{tecnico[4]}}</p>
                                </div>
                                <div class="btns">
                                    <a href="/tornar-usuario/{{tecnico[0]}}"><button>Tornar usuário</button></a>
                                    <a href="/excluir-tecnico/{{tecnico[0]}}"><button>Excluir conta</button></a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <script src="../static/script.js"></script>
</body>

</html>