<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/style-adm.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliação média {{tecnico[1]}}</title>
</head>

<body>
    <div class="header" id="header">
        <button onclick="toggleSidebar()" class="btn_icon_header">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>
        <div class="info_header">

            <a href="/perfil-adm">
                <i class='bx bx-user'></i>
                <span class="links_name">Perfil</span>
            </a>
            <a href="/logout">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Sair</span>
            </a>
        </div>
        <div class="navigation_header" id="navigation_header">
            <button onclick="toggleSidebar()" class="btn_icon_header">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x"
                    viewBox="0 0 16 16">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
            <a href="/index-adm">
                <i class='bx bx-home'></i>Início</a>
            <a href="/perfil-adm">
                <i class='bx bx-user'></i>Perfil</a>
            <a href="/lista-usuarios">
                <i class='bx bx-list-ul'></i>Lista de Usuários</a>
            <a href="/relatorios">
                <i class='bx bx-line-chart'></i>Relatórios</a>
            <a href="/solicitar-adm">
                <i class='bx bx-message-add'></i>Solicitar</a>
            <a href="/solicitacoes-p-adm">
                <i class='bx bx-message-dots'></i>Solicitações Pendentes</a>
            <a href="/solicitacoes-r-adm">
                <i class='bx bx-message-check'></i>Solicitações Respondidas</a>
        </div>
    </div>
    <section>
        <div class="responder1">
            <div class="title">Nome: {{tecnico[1]}}</div>
            <img src="../static/image/perfil-tecnico.png" alt="" class="fotinha">
            <p>Media de avaliação: {{media}}</p>
            <div class="estrelas">
                {% if media == 0 %}
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                {% elif media <= 0.5 %} <i class='bx bxs-star-half'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    {% elif media <= 1 %} <i class='bx bxs-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        {% elif media <= 1.5 %} <i class='bx bxs-star'></i>
                            <i class='bx bxs-star-half'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            {% elif media <= 2 %} <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bx-star'></i>
                                <i class='bx bx-star'></i>
                                <i class='bx bx-star'></i>
                                {% elif media <= 2.5 %} <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star-half'></i>
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                    {% elif media <= 3 %} <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star'></i>
                                        {% elif media <= 3.5 %} <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star-half'></i>
                                            <i class='bx bx-star'></i>
                                            {% elif media <= 4 %} <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                                {% elif media <= 4.5 %} <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star-half'></i>
                                                    {% elif media <= 5 %} <i class='bx bxs-star'></i>
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bxs-star'></i>
                                                        {% endif %}
            </div>
            <hr><br>
            <p>Email: {{tecnico[1]}}</p><br>
            <p>Contato: {{tecnico[4]}}</p><br>
            <p>Endereco: {{tecnico[5]}}</p><br>

        </div>
    </section>
    <script src="../static/script.js"></script>
</body>

</html>