<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../static/style-adm.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script type="text/javascript">
        function loadingVariables() {
            var r = document.querySelector(':root');
            var solR = {{ fechado }} * 3.6;
            var solP = 360 - solR;
            if (solR > solP) {
                r.style.setProperty('--secondSliceColor', '#0078BE');
                var v1 = 180;
                var v2 = solR - 180;
                var v3 = 360 - solR;
            } else {
                r.style.setProperty('--secondSliceColor', '#DC140A');
                var v1 = 360 - solP;
                var v2 = solP - 180;
                var v3 = 180;
            }
            var b2 = v1 + 'deg';
            var b3 = (v1 + v2) + 'deg';
            var s1 = v1 + 'deg';
            var s2 = v2 + 'deg';
            var s3 = v3 + 'deg';

            r.style.setProperty('--firstSlice', s1);
            r.style.setProperty('--beforeSSlice', b2);
            r.style.setProperty('--secondSlice', s2);
            r.style.setProperty('--beforeTSlice', b3);
            r.style.setProperty('--thirdSlice', s3);
        }
    </script>
    <title>Relatórios</title>
</head>

<body onload="loadingVariables()">
    <div class="header" id="header">
        <button onclick="toggleSidebar()" class="btn_icon_header">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>
        <div class="info_header">

            <a href="./perfil-adm">
                <i class='bx bx-user'></i>
                <span class="links_name">Perfil</span>
            </a>
            <a href="logout">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Sair</span>
            </a>
        </div>
        <div class="navigation_header" id="navigation_header">
            <button onclick="toggleSidebar()" class="btn_icon_header">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x"
                    viewBox="0 0 16 16">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
            <a href="./index-adm">
                <i class='bx bx-home'></i>Início</a>
            <a href="./perfil-adm">
                <i class='bx bx-user'></i>Perfil</a>
            <a href="./lista-usuarios">
                <i class='bx bx-list-ul'></i>Lista de Usuários</a>
            <a href="./relatorios">
                <i class='bx bx-line-chart'></i>Relatórios</a>
            <a href="./solicitar-adm">
                <i class='bx bx-message-add'></i>Solicitar</a>
            <a href="./solicitacoes-p-adm">
                <i class='bx bx-message-dots'></i>Solicitações Pendentes</a>
            <a href="./solicitacoes-r-adm">
                <i class='bx bx-message-check'></i>Solicitações Respondidas</a>
        </div>
    </div>

    <div tabindex="0" class="content" onfocus="closeSidebar()" id="content">
        <h1>Relatorios</h1><br>
        <div class="graficos">
            <h3>Percentual de chamadas abertas e fechadas</h3>
            <br>
            <div class="pieContainer">
                <div class="pieBackground"></div>
                <div id="pieSlice1" class="hold">
                    <div class="pie"></div>
                </div>
                <div id="pieSlice2" class="hold">
                    <div class="pie"></div>
                </div>
                <div id="pieSlice3" class="hold">
                    <div class="pie"></div>
                </div>
            </div><br>
            <div class="legenda">
                <ul>
                    <li><span style='background:#0078BE;'></span>{{fechado}}% Solicitações fechadas</li>
                    <li><span style='background:#DC140A;'></span>{{aberto}}% Solitações abertas</li>
                    <li>{{valor}} Solicitações realizadas</li>
                </ul><br><br>
            </div>
            <br><br>
            <h3>Evolução diária da quantidade de solicitações abertas e fechadas</h3>
            <br>
            <div class="chartbox">
                <canvas id="myChart" width="500px" height="250px"></canvas>
                <script>
                const ctx = document.getElementById('myChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Tri 1', 'Tri 2', 'Tri 3', 'Tri 4', 'Tri 5', 'Tri 6', 'Tri 7'],
                        datasets: [{
                            label: 'Solicitações Abertas',
                            data: [12, 19, 3, 5, 2, 3, 15],
                            backgroundColor: [
                                'rgba(131, 56, 236, 0.2)',
                                'rgba(131, 56, 236, 0.2)',
                                'rgba(131, 56, 236, 0.2)',
                            ],
                            borderColor: [
                                'rgba(131, 56, 236, 1)',
                                'rgba(131, 56, 236, 1)',
                                'rgba(131, 56, 236, 1)',
                            ],
                            borderWidth: 1
                        },
                        {
                            label: 'Solicitações Fechadas',
                            data: [5, 8, 7, 1, 4, 6, 9],
                            backgroundColor: [
                                'rgba(255, 0, 110, 0.2)',
                                'rgba(255, 0, 110, 0.2)',
                                'rgba(255, 0, 110, 0.2)',
                                ],
                            borderColor: [
                                'rgba(255, 0, 110, 1)',
                                'rgba(255, 0, 110, 1)',
                                'rgba(255, 0, 110, 1)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
                </script>
                </div>
            <div class="rating-css">
                <br>
                <h3>Avaliação media do sistema: {{mediaNota}}</h3>
                <div class="estrelas">
                        {% if mediaNota == 0 %}
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        {% elif mediaNota <= 0.5 %} <i class='bx bxs-star-half'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            {% elif mediaNota <= 1 %} <i class='bx bxs-star'></i>
                                <i class='bx bx-star'></i>
                                <i class='bx bx-star'></i>
                                <i class='bx bx-star'></i>
                                <i class='bx bx-star'></i>
                                {% elif mediaNota <= 1.5 %} <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star-half'></i>
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                    {% elif mediaNota <= 2 %} <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star'></i>
                                        {% elif mediaNota <= 2.5 %} <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star-half'></i>
                                            <i class='bx bx-star'></i>
                                            <i class='bx bx-star'></i>
                                            {% elif mediaNota <= 3 %} <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                                <i class='bx bx-star'></i>
                                                {% elif mediaNota <= 3.5 %} <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star-half'></i>
                                                    <i class='bx bx-star'></i>
                                                    {% elif mediaNota <= 4 %} <i class='bx bxs-star'></i>
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bx-star'></i>
                                                        {% elif mediaNota <= 4.5 %} <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star-half'></i>
                                                            {% elif mediaNota <= 5 %} <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star'></i>
                                                                {% endif %}
            </div>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>

</html>