<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../static/style-adm.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript">
        function loadingVariables()
        {
            var r = document.querySelector(':root');
            var solR = {{ fechado }} * 3.6;
            var solD = {{ rejeitado }} * 3.6;
            var solP = 360 - solR - solD;
            if (solR > solP && solR > solD) {
                r.style.setProperty('--secondSliceColor','#0078BE');
                r.style.setProperty('--thirdSliceColor','#D27800');
                if (solR > 180) {
                    var v1 = 180;
                } else {
                    var v1 = 60;
                }
                var v2 = solR - v1;
                var v3 = 360 - solR - solD;
                var v4 = 360 - solR - solP;
            } else if (solP > solR && solP > solD) {
                r.style.setProperty('--secondSliceColor','#D27800');
                r.style.setProperty('--thirdSliceColor','#D27800');
                if (solP > 180) {
                    var v2 = 180;
                } else {
                    var v2 = 60;
                }
                var v1 = 360 - solP - solD;
                var v3 = solP - v2;
                var v4 = 360 - solR - solP;
            } else {
                r.style.setProperty('--secondSliceColor','#D27800');
                r.style.setProperty('--thirdSliceColor','#DC140A');
                if (solD > 180) {
                    var v3 = 180;
                } else {
                    var v3 = 60;
                }
                var v1 = 360 - solP - solD;
                var v2 = 360 - solR - solD;
                var v4 = solD - v3;
            }
            var b2 = v1 + 'deg';
            var b3 = (v1 + v2) + 'deg';
            var b4 = (v1 + v2 + v3) + 'deg';
            var s1 = v1 + 'deg';
            var s2 = v2 + 'deg';
            var s3 = v3 + 'deg';
            var s4 = v4 + 'deg';

            r.style.setProperty('--firstSlice',s1);
            r.style.setProperty('--beforeSSlice',b2);
            r.style.setProperty('--secondSlice',s2);
            r.style.setProperty('--beforeTSlice',b3);
            r.style.setProperty('--thirdSlice',s3);
            r.style.setProperty('--beforeFSlice',b4);
            r.style.setProperty('--fourthSlice',s4);
        }
    </script>
    <title>Relatórios</title>
</head>

<body onload="loadingVariables()">
    <div class="header" id="header">
        <button onclick="toggleSidebar()" class="btn_icon_header">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>
        <div class="info_header">

            <a href="./perfil-adm">
                <i class='bx bx-user'></i>
                <span class="links_name">Perfil</span>
            </a>
            <a href="logout">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Sair</span>
            </a>
        </div>
        <div class="navigation_header" id="navigation_header">
            <button onclick="toggleSidebar()" class="btn_icon_header">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x"
                    viewBox="0 0 16 16">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
            <a href="./index-adm">
                <i class='bx bx-home'></i>Início</a>
            <a href="./perfil-adm">
                <i class='bx bx-user'></i>Perfil</a>
            <a href="./lista-usuarios">
                <i class='bx bx-list-ul'></i>Lista de Usuários</a>
            <a href="./relatorios">
                <i class='bx bx-line-chart'></i>Relatórios</a>
            <a href="./solicitar-adm">
                <i class='bx bx-message-add'></i>Solicitar</a>
            <a href="./solicitacoes-p-adm">
                <i class='bx bx-message-dots'></i>Solicitações Pendentes</a>
            <a href="./solicitacoes-r-adm">
                <i class='bx bx-message-check'></i>Solicitações Respondidas</a>
        </div>
    </div>

    <div tabindex="0" class="content" onfocus="closeSidebar()" id="content">
        <h1>Relatorios</h1><br>
        <div class="graficos">
            <h3>Percentual de chamadas abertas e fechadas</h3>
            <br>
            <div class="pieContainer">
                <div class="pieBackground"></div>
                <div id="pieSlice1" class="hold">
                    <div class="pie"></div>
                </div>
                <div id="pieSlice2" class="hold">
                    <div class="pie"></div>
                </div>
                <div id="pieSlice3" class="hold">
                    <div class="pie"></div>
                </div>
                <div id="pieSlice4" class="hold">
                    <div class="pie"></div>
                </div>
            </div><br>
            <div class="legenda">
                <ul>
                    <li><span style='background:#0078BE;'></span>{{fechado}}% Solicitações aceitas</li>
                    <li><span style='background:#DC140A;'></span>{{rejeitado}}% Solicitações rejeitadas</li>
                    <li><span style='background:#D27800;'></span>{{aberto}}% Solitações abertas</li>
                    <li>{{valor}} Solicitações realizadas</li>
                </ul><br><br>
            </div>
            <br>
            <h3>Evolução diária da quantidade de solicitações abertas e fechadas</h3>
            <img src="../../static/image/grafico.png"
                alt="Gráfico de exemplo para evolução diária da quantidade de solicitações abertas e fechadas">
                <br>
                <h3>Avaliação media do sistema: {{mediaNota}}</h3>
                <div class="estrelas">
                        {% if mediaNota == 0 %}
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        {% elif mediaNota <= 0.5 %} <i class='bx bxs-star-half'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            {% elif mediaNota <= 1 %} <i class='bx bxs-star'></i>
                                <i class='bx bx-star'></i>
                                <i class='bx bx-star'></i>
                                <i class='bx bx-star'></i>
                                <i class='bx bx-star'></i>
                                {% elif mediaNota <= 1.5 %} <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star-half'></i>
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                    <i class='bx bx-star'></i>
                                    {% elif mediaNota <= 2 %} <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star'></i>
                                        {% elif mediaNota <= 2.5 %} <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star-half'></i>
                                            <i class='bx bx-star'></i>
                                            <i class='bx bx-star'></i>
                                            {% elif mediaNota <= 3 %} <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                                <i class='bx bx-star'></i>
                                                {% elif mediaNota <= 3.5 %} <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star-half'></i>
                                                    <i class='bx bx-star'></i>
                                                    {% elif mediaNota <= 4 %} <i class='bx bxs-star'></i>
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bxs-star'></i>
                                                        <i class='bx bx-star'></i>
                                                        {% elif mediaNota <= 4.5 %} <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star-half'></i>
                                                            {% elif mediaNota <= 5 %} <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star'></i>
                                                                {% endif %}
            </div>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>

</html>