<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../static/style-adm.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript">
        function loadingVariables() {
            var r = document.querySelector(':root');
            var solR = {{fechado}} * 3.6;
            var solP = 360 - solR;
            if (solR > solP) {
                r.style.setProperty('--secondSliceColor', '#58d3f7');
                var v1 = 180;
                var v2 = solR - 180;
                var v3 = 360 - solR;
            } else {
                r.style.setProperty('--secondSliceColor', '#f7d358');
                var v1 = 360 - solP;
                var v2 = solP - 180;
                var v3 = 180;
            }
            var b2 = v1 + 'deg';
            var b3 = (v1 + v2) + 'deg';
            var s1 = v1 + 'deg';
            var s2 = v2 + 'deg';
            var s3 = v3 + 'deg';

            r.style.setProperty('--firstSlice', s1);
            r.style.setProperty('--beforeSSlice', b2);
            r.style.setProperty('--secondSlice', s2);
            r.style.setProperty('--beforeTSlice', b3);
            r.style.setProperty('--thirdSlice', s3);
        }
    </script>
    <title>Relatórios</title>
</head>

<body onload="loadingVariables()">
    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">API</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a href="./index-adm">
                    <i class='bx bx-home'></i>
                    <span class="links_name">Início</span>
                </a>
                <span class="tooltip">Início</span>
            </li>
            <li>
                <a href="./perfil-adm">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Perfil</span>
                </a>
                <span class="tooltip">Perfil</span>
            </li>
            <li>
                <a href="./lista-usuarios">
                    <i class='bx bx-list-ul'></i>
                    <span class="links_name">Lista de usuários</span>
                </a>
                <span class="tooltip">Lista de usuários</span>
            </li>
            <li>
                <a href="./relatorios">
                    <i class='bx bx-line-chart'></i>
                    <span class="links_name">Relatórios</span>
                </a>
                <span class="tooltip">Relatórios</span>
            </li>
            <li>
                <a href="./solicitar-adm">
                    <i class='bx bx-message-add'></i>
                    <span class="links_name">Solicitar</span>
                </a>
                <span class="tooltip">Solicitar</span>
            </li>
            <li>
                <a href="./solicitacoes-p-adm">
                    <i class='bx bx-message-dots'></i>
                    <span class="links_name">Solicitaçoes pendentes</span>
                </a>
                <span class="tooltip">Solicitaçoes pendentes</span>
            </li>
            <li>
                <a href="./solicitacoes-r-adm">
                    <i class='bx bx-message-check'></i>
                    <span class="links_name">Solicitaçoes respondidas</span>
                </a>
                <span class="tooltip">Solicitaçoes respondidas</span>
            </li>
            <li>
                <a href="logout">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Sair</span>
                </a>
                <span class="tooltip">Sair</span>
            </li>
        </ul>
    </div>

    <main>
        <h1>Relatorios</h1><br>
        <div class="graficos">
            <div class="pieContainer">
                <div class="pieBackground"></div>
                <div id="pieSlice1" class="hold">
                    <div class="pie"></div>
                </div>
                <div id="pieSlice2" class="hold">
                    <div class="pie"></div>
                </div>
                <div id="pieSlice3" class="hold">
                    <div class="pie"></div>
                </div>
            </div><br>
            <div class="legenda">
                <ul>
                    <li><span style='background:#58d3f7;'></span>{{fechado}}% Solicitações fechadas</li>
                    <li><span style='background:#f7d358;'></span>{{aberto}}% Solitações abertas</li>
                </ul><br><br>
            </div>
            <h4>percentual de chamadas abertas e fechadas</h4>
        </div>
        <div class="estrelas">
            <h3>avaliação media do sistema</h3>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
        </div>
    </main>
</body>

</html>