<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../static/style-adm.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% if aceitar == "1" %}
    Aceitar Chamado
    {% else %}
    Rejeitar Chamado
    {% endif %}</title>
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <div class="logo_name">API</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="./index-adm">
          <i class='bx bx-home'></i>
          <span class="links_name">Início</span>
        </a>
        <span class="tooltip">Início</span>
      </li>
      <li>
        <a href="./perfil-adm">
          <i class='bx bx-user'></i>
          <span class="links_name">Perfil</span>
        </a>
        <span class="tooltip">Perfil</span>
      </li>
      <li>
        <a href="./lista-usuarios">
          <i class='bx bx-list-ul'></i>
          <span class="links_name">Lista de usuários</span>
        </a>
        <span class="tooltip">Lista de usuários</span>
      </li>
      <li>
        <a href="./relatorios">
          <i class='bx bx-line-chart'></i>
          <span class="links_name">Relatórios</span>
        </a>
        <span class="tooltip">Relatórios</span>
      </li>
      <li>
        <a href="./solicitar-adm">
          <i class='bx bx-message-add'></i>
          <span class="links_name">Solicitar</span>
        </a>
        <span class="tooltip">Solicitar</span>
      </li>
      <li>
        <a href="./solicitacoes-p-adm">
          <i class='bx bx-message-dots'></i>
          <span class="links_name">Solicitaçoes pendentes</span>
        </a>
        <span class="tooltip">Solicitaçoes pendentes</span>
      </li>
      <li>
        <a href="./solicitacoes-r-adm">
          <i class='bx bx-message-check'></i>
          <span class="links_name">Solicitaçoes respondidas</span>
        </a>
        <span class="tooltip">Solicitaçoes respondidas</span>
      </li>
      <li>
        <a href="logout">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Sair</span>
        </a>
        <span class="tooltip">Sair</span>
      </li>
    </ul>
  </div>
  <section>
    <div class="responder">
      <div class="title">
        {% if aceitar == "1" %}
        Aceitar Chamado
        {% else %}
        Rejeitar Chamado
        {% endif %}
      </div>
      <form method="POST">
        <div class="form">
          <div class="inputfield">
            <label>Titulo</label>
            <P>{{chamado[3]}}</P>
          </div>
          <div class="inputfield">
            <label>Tipo</label>
            <p>{{chamado[4]}}</p>
          </div>
          <div class="inputfield">
            <label>Descrição</label>
            <p>{{chamado[5]}}</p>
          </div>
          <div class="inputfield">
            <label>Resposta</label>
            <textarea class="textarea" name="resposta" id="resposta"></textarea>
          </div>
          <div class="inputfield">
            <input type="submit" value="Enviar Resposta" class="btn">
          </div>
        </div>
      </form>
    </div>
  </section>
</body>

</html>