@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: #E4E9F7;
}


/*SIDE BAR CSS*/

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #11101D;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 300px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar input {
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
}

.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101D;
}

.sidebar li a:hover {
    background: orange;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101D;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 12px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}

.home-section .text {
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 50px;
    display: flex;
    justify-content: center;
}

@media (max-width: 420px) {
    .home-section .text {
        margin-left: 20%;
    }
    .sidebar li .tooltip {
        display: none;
    }
}

main {
    margin-left: 78px;
}

.fundo {
    display: grid;
    height: 100%;
    place-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.container .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    margin: 50px;
    border-radius: 5px;
    background: linear-gradient(to bottom right, #E4E9F7, rgba(214, 214, 214, 0.63));
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.box .quote i {
    margin: 10px;
    font-size: 45px;
    color: #17c0eb
}

.box span {
    font-weight: 600;
}

.box .grid-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px
}

.container .box .image {
    margin: 10px 0;
    height: 150px;
    width: 150px;
    background: #11101D;
    padding: 3px;
    border-radius: 50%;
}
.direita h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.esquerda h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box .image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

.box p {
    margin: 8px;
    font-size: 16px;
    font-weight: 400;
    word-break: normal;
}

.box .name_job {
    margin: 10px 0 3px 0;
    color: #11101D;
    font-size: 18px;
    font-weight: 600;
}

.rating i {
    font-size: 18px;
    color: #11101D;
    margin: 6px;
}

.btns {
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btns button {
    background: #11101D;
    width: 100%;
    padding: 9px 0px;
    outline: none;
    border: 2px solid #11101D;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    color: #11101D;
    transition: all 0.3s linear;
}

.btns button:first-child {
    background: none;
    margin-right: 5px;
}

.btns button:last-child {
    color: #fff;
    margin-left: 5px;
}

.btns button:first-child:hover {
    background: #11101D;
    color: #fff;
}

.btns button:hover {
    color: #fff;
}

@media (max-width:1045px) {
    .container .box {
        width: 300px;
        margin-bottom: 20px;
        margin: 25px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
    .btns button{
        font-size: 13px;
    }
    .direita h1, .esquerda h1{
        font-size: 18px;
    }
}
@media (max-width:710px) {
    .container .box {
        width: 100%;
        margin: 0px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }
    .rating i{
        margin: 2px;
    }
    .box .grid-info{
        grid-template-columns: 1fr
    }
}