@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E4E9F7;
    height: 100vh;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    background: white;
    border-radius: 10px;
    box-shadow: 20px 20px 25px rgba(0, 0.15, 0, 0.15);
}

.center h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #11101D;
    transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
    color: #11101D;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 100%;
}

.pass {
    color: #a6a6a6;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 50%;
    height: 50px;
    border: 1px solid;
    background: #11101D;
    border-radius: 25px;
    margin-left: 25%;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #140f50;
    transition: .5s;
}
.down-side h4{
    font-size: 12px;
}
p{
    text-align: center;
    font-size: 18px;
}

.signup_link {
    margin: 10px;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a {
    color: #140f50;
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}

@media(max-width:991px) {
    .grid{
        grid-template-columns: 1fr;
    }
    .center {
        height: 900px;
    }

    .center form {
        grid-template-columns: 1fr;
    }

    .links {
        align-items: center;
        margin-top: 10px;
    }

    input[type="submit"] {
        margin-top: 13px;
    }
}

@media(max-width:776px) {
    .center {
        width: 70%;
    }
}