@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: #e7e7e7;
}


/*SIDE BAR CSS*/

:root {
  --color-white: #fff;
  --color-main: #300006;
  --color-main2: #E4E9F7;
  --color-main3: orange;
}

.info_header {
  align-items: center;
}

.info_header i {
  color: var(--color-white);
  height: 60px;
  min-width: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
}

.info_header span {
  text-decoration: none;
  color: var(--color-white);
  transition: 1s;
  font-size: 17px;
}

.header,
.navigation_header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  background-color: var(--color-main);
  justify-content: space-between;
  padding: 0 10%;
  height: 3.5em;
  box-shadow: 1px 1px 4px var(--color-white);
}

.navigation_header {
  gap: 2.5em;
  z-index: 2;
  position: absolute;
  flex-direction: column !important;
  top: 0;
  background: var(--color-main);
  height: 100%;
  padding: 1em;
  animation-duration: 0.4s;
  margin-left: -100vw;
}

.content {
  text-align: center;
  transition: 1s;
}

.navigation_header a {
  width: 100%;
  padding: 10px;
  text-decoration: none;
  display: flex;
  color: var(--color-main2);
  transition: 0.7s;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  font-size: 17px;
}

.navigation_header i {
  margin-right: 10px;
}

.navigation_header a:hover {
  color: var(--color-white);
  background: var(--color-main3);
}

.btn_icon_header {
  background: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  display: block;
}

.text {
  margin-bottom: 50px;
}

.meio p {
  color: var(--color-main);
  margin: 50px;
}


@keyframes showSidebar {
  from {
    margin-left: -100vw;
  }

  to {
    margin-left: -10vw;
  }
}

.inicio {
  margin-top: 250px;
}

.inicio .titulo h1 {
  font-size: 25px;
}

.inicio .titulo p {
  font-size: 19px;
}

.fundo {
  display: grid;
  height: 100%;
  place-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container {
  margin-top: 60px;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  margin: 50px;
  border-radius: 5px;
  background: linear-gradient(to bottom right, #E4E9F7, rgba(214, 214, 214, 0.63));
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.box .quote i {
  margin: 10px;
  font-size: 45px;
  color: #17c0eb
}

.box span {
  font-weight: 600;
}

.box .grid-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px
}

.image {
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #11101D;
  padding: 3px;
  border-radius: 50%;
}

.fotinha {
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #11101D;
  padding: 3px;
  border-radius: 50%;
}

.direita h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.esquerda h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.box p {
  margin: 8px;
  font-size: 16px;
  font-weight: 400;
  word-break: normal;
}

.box .name_job {
  margin: 10px 0 3px 0;
  color: #11101D;
  font-size: 18px;
  font-weight: 600;
}

.rating i {
  font-size: 18px;
  color: #11101D;
  margin: 6px;
}

.btns {
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btns button {
  background: #11101D;
  width: 100%;
  padding: 9px 0px;
  outline: none;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #11101D;
  transition: all 0.3s linear;
}

.btns button:first-child {
  background: none;
  margin-right: 5px;
}

.btns button:last-child {
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-left: 5px;
}

.btns button:first-child:hover {
  background: #11101D;
  color: #fff;
}

.btns button:hover {
  color: #fff;
}

@media (max-width:1045px) {
  .container .box {
    width: 300px;
    margin-bottom: 20px;
    margin: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .btns button {
    font-size: 13px;
  }

  .direita h1,
  .esquerda h1 {
    font-size: 18px;
  }

}

@media (max-width:710px) {
  .container .box {
    width: 100%;
    margin: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  .rating i {
    margin: 2px;
  }

  .box .grid-info {
    grid-template-columns: 1fr
  }

}

/*INICIO*/
.inicio {
  margin-top: 300px;
}

.inicio .titulo h1 {
  font-size: 30px;
  color: #11101D;
  display: flex;
  justify-content: center;
}

.inicio .titulo p {
  font-size: 18px;
  color: #11101D;
  display: flex;
  justify-content: center;
}

@media(max-width:889px) {
  .inicio .titulo h1 {
    font-size: 20px;
  }

  .inicio .titulo p {
    font-size: 16px;
  }
}

/*FORM SOLICITAÇÃO CSS*/

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1100px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  margin-top: 100px;
}

.wrapper header {
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
}

.wrapper form {
  margin: 35px 30px;
}

.wrapper form.disabled {
  pointer-events: none;
  opacity: 0.7;
}

form .dbl-field {
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}

.dbl-field .field {
  height: 50px;
  display: flex;
  position: relative;
  width: calc(100% / 2 - 13px);
}

.wrapper form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: #ccc;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}

select {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 100px;
  font-size: 16px;
  border-radius: 5px;
}

form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.field input::placeholder,
.message textarea::placeholder {
  color: #ccc;
}

.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid #11101D;
}

.field input:focus~i,
.message textarea:focus~i {
  color: #11101D;
}

form .message {
  position: relative;
}

form .message i {
  top: 30px;
  font-size: 20px;
  margin-top: 15px;
}

form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
  margin-top: 15px;
}

form .message textarea::-webkit-scrollbar {
  width: 0px;
}

.message textarea:focus {
  padding-top: 14px;
}

form .button-area {
  margin: 25px 0;
  display: flex;
  align-items: center;
}

.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background-color: var(--color-main);
  margin-bottom: 20px;
}

.button-area button:hover {
  background: #333;
}

.button-area span {
  font-size: 17px;
  margin-left: 30px;
  display: none;
}

@media (max-width: 991px) {
  .wrapper {
    width: 80%;
  }

  .wrapper header {
    text-align: center;
  }

  .wrapper form {
    margin: 35px 20px;
  }

  .dropdown select {
    height: 45px;
  }

  form .dbl-field {
    flex-direction: column;
    margin-bottom: 0px;
  }

  form .dbl-field .field {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }

  form .message textarea {
    resize: none;
  }

  form .button-area {
    margin-top: 20px;
    flex-direction: column;
  }

  .button-area button {
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .button-area span {
    margin: 20px 0 0;
    text-align: center;
  }
}

/*TABELA DE INFORMAÇÕES CSS*/
main {
  margin-left: 78px;
}

details {
  border: solid 2px #A8A7A7;
  border-radius: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px;
  position: relative;
  margin-bottom: 8px;
  margin-left: 5%;
}

details summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

summary p {
  font-weight: 600;
  font-size: 18px;
}

summary h1 {
  font-size: 20px;
}

summary img {
  height: 50px;
  width: 50px;
}

.conteudo {
  overflow-wrap: break-word;
  width: 100%;
}

.conteudo p {
  margin-bottom: 16px;
  font-size: 14px;
}

.conteudo h1 {
  font-size: 17px;
  margin-top: 20px;
}

/*PERFIL DO USUÁRIO*/
.perfil {
  position: relative;
  width: 80%;
  max-width: 1400px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: #A8A7A7;
  box-shadow: 8px 10px 25px #757575;
  margin: 0 auto;
}

.perfil .left-side {
  background: #fff;
  padding: 1.5rem;
}

.perfil .right-side {
  background-color: var(--color-main);
  padding: 1.5rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.profile .img-sett {
  position: relative;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  overflow: hidden;

}

.profile .img-sett img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile .texto {
  display: flex;
  flex-direction: column;
}

.profile .texto h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 1rem;
  border-top: 1px solid #fff;
}

.profile .texto h5 {
  color: #A8A7A7;
  font-size: 0.9rem;
  margin-top: 1rem;
  font-weight: 500;
  line-height: 1rem;
}

.right-items {
  margin-bottom: 2rem;
  font-weight: 500;
}

.formBx .form {
  left: 0;
  width: 100%;
  padding: 10px;
  transition: 0.5s;
}

.formBx .signinForm {
  transition-delay: 0.25s;
}

.formBx.active .signinForm {
  left: -100%;
  transition-delay: 0s;
}

.formBx .signupForm {
  left: 100%;
  transition-delay: 0s;
}

.formBx.active .signupForm {
  left: 0%;
  transition-delay: 0.25s;
}

.formBx .form form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formBx .form form h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.formBx .form form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  border: 1´x solid #333;
}

.formBx .form form input[type="submit"] {
  background-color: var(--color-main);
  border: none;
  color: #fff;
  margin: 0 auto;
  max-width: 150px;
  cursor: pointer;
}

.popup {
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
}

.popup-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 2px;
  position: relative;
  margin-top: 460px;
}

.popup-content i {
  position: absolute;
  font-size: 18px;
  top: 15px;
  right: 15px;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
}

.popup-content p {
  margin-bottom: 5px;
}

.popup-content .inputfield {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content .btn {
  background: #11101D;
  width: 80px;
  height: 40px;
  color: #fff;
  justify-content: center;
}

.BtnExc {
  background: #fff;
  border: none;
  color: #11101D;
  max-width: 100px;
  cursor: pointer;
  margin-top: 20px;
  width: 100px;
  height: 40px;
}

@media (max-width: 991px) {
  .perfil {
    grid-template-columns: 1fr;
  }

  .formBx .form {
    padding: 5px;
  }

  .formBx .form form input {
    padding: 5px;
    font-size: 14px;
  }

  .image {
    width: 100px;
    height: 100px;
  }

}

.graficos {
  margin: 0 auto;
}

.grafico{
  width: 11em;
  height: 100%;
  outline: none;
  padding: 0 10px;
  font-size: 16px;
  border-radius: 5px;
}

body {
  text-align: center;
}


.pieContainer {
  height: 250px;
  margin-left: 39%;
}

.pieBackground {
  background-color: grey;
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  box-shadow: -1px 1px 3px #000;
}

.pie {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  clip: rect(0px, 125px, 250px, 0px);
}

.hold {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  clip: rect(0px, 250px, 250px, 125px);
}

:root {
  --firstSlice: 0;
  --beforeSSlice: 0;
  --secondSlice: 0;
  --beforeTSlice: 0;
  --thirdSlice: 0;
  --firstSliceColor: #0078BE;
  --secondSliceColor: #000000;
  --thirdSliceColor: #DC140A;
}

#pieSlice1 .pie {
  background-color: var(--firstSliceColor);
  transform: rotate(var(--firstSlice));
}

#pieSlice2 {
  transform: rotate(var(--beforeSSlice));
}

#pieSlice2 .pie {
  background-color: var(--secondSliceColor);
  transform: rotate(var(--secondSlice));
}

#pieSlice3 {
  transform: rotate(var(--beforeTSlice));
}

#pieSlice3 .pie {
  background-color: var(--thirdSliceColor);
  transform: rotate(var(--thirdSlice));
}

.legenda ul {
  margin-left: 42%;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
}

.legenda ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
}

.legenda ul li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
}

/* ESTRELINHA */

/*ESTRELINHA*/
.estrelas {
  padding: 30px 0;
}

.estrelas input[type=radio] {
  display: none;
}

.estrelas i {
  font-size: 2.5em;
  content: '\f005';
  color: rgb(255, 174, 0);
}

.estrelas label i.fa {
  font-size: 2.5em
}

.estrelas label i.fa:before {
  content: '\f005';
  color: rgb(255, 174, 0);
}

.estrelas input[type=radio]:checked~label i.fa:before {
  color: #CCC;
}



.btnact {
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 16px;
  color: #fff;
  background-color: #006700;
}

.btnrec {
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 16px;
  color: #fff;
  background-color: #B60000;
}

.responder {
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 100px auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.125);
  padding: 30px;
}

.responder .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #11101D;
  text-transform: uppercase;
  text-align: center;
}

.responder .form {
  width: 100%;
}

.responder .form .inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.responder .form .inputfield label {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
}

.responder .form .inputfield .input,
.responder .form .inputfield .textarea {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.responder .form .inputfield .textarea {
  width: 100%;
  height: 125px;
  resize: none;
}

.responder .form .inputfield .custom_select {
  position: relative;
  width: 100%;
  height: 37px;
}

.responder .form .inputfield .custom_select:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.responder .form .inputfield .custom_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}


.responder .form .inputfield .input:focus,
.responder .form .inputfield .textarea:focus,
.responder .form .inputfield .custom_select select:focus {
  border: 1px solid #fec107;
}

.responder .form .inputfield p {
  font-size: 14px;
  color: #757575;
}

.responder .form .inputfield .check {
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}

.responder .form .inputfield .check input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.responder .form .inputfield .btn {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0px;
  background-color: var(--color-main);
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.responder .form .inputfield .btn:hover {
  background: #2b2942;
}

.responder .form .inputfield:last-child {
  margin-bottom: 0;
}

@media (max-width: 586px) {
  .btns {
    display: block;
  }
}

@media (max-width:420px) {

  .responder .form .inputfield {
    flex-direction: column;
    align-items: flex-start;
  }

  .responder .form .inputfield label {
    margin-bottom: 5px;
  }

  .responder .form .inputfield.terms {
    flex-direction: row;
  }
}

.chartbox {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}